.Nav {
    background-color: #63b8d4;
    width: 1840px;
}
#title {
    font-size: 30px;
    margin-left: 10px;
}
#logo {
    height: 50px;
    width: 50px;
}
#main { 
    display: grid;
    grid-auto-columns: auto auto;
    grid-auto-rows: auto ;
}
#content {
    grid-area: 1 / 2 / span 1 / span 1;
    width: 500px;
    margin-right: 400px;
}
#list {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 400px;
}
#tabs {
    background-color: #c0e2ed;
}
.Tab {
    color: #63b8d4;
}
.listText {
    height: 10px;
}
#buttons {
    margin-left: 100px;
    text-align: left;
}
#profiles {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
}

#profiles td, #profiles th {
    padding: 8px;
}

#profiles tr:nth-child(even){background-color: #f2f2f2;}

#profiles tr:hover {background-color: #ddd;}

#profiles th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: #63b8d4;
    font-weight: bold;
    font-size: 20px;
}
#profiles td {
    color: #63b8d4;
    font-size: 20px;
}
#modalBtn {
    color: #63b8d4;
    font-weight: bold;
}
#addAdmin {
    color: white;
    font-weight: bold;
    background-color: #63b8d4;
    margin-top: 80px;
}
#dilog {
    height: 43rem;
}

