#reviseMain {
    background-color: white;
}
#reviseName {
    color: 	#078CA9;
    margin-left: 28px;
}
/* ::placeholder {
    color: #63b8d4;
    font-size: 1.5em;
} */
#btn {
    border-radius: 8px;
    background-color: #078CA9;
    color:white;
    margin-left: 285px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#textarea {
    text-align: center;
}

#closeBtn1 {
    color: #078CA9;
    font-weight: bold;
    float: right;
    height: 40px;
    font-size: 20px;
    background-color: white;
}

#textareaDiv {
    margin-left: 30px;
    margin-right: 30px;
}

textarea::placeholder {
    color: grey;
    padding-left: 10px;
    font-size: 1.3rem;  
}

input[type=text], textarea {
    border-color: darkgray;
    border-style: solid;
    border-width: 3px;
}

textarea {
    font-size: 1.3rem;
}